.landing-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-container h1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}

.landing-container ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.landing-container ul li {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    margin: 5px;
}

.landing-container ul li .title {
    font-size: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.landing-container ul li .title strong {
    text-align: left;
}

.landing-container ul li .title p {
    text-align: right;
}

.landing-container ul li .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #fff;
    padding: 5px;
    border-radius: 8px;
    position: relative;
    margin: auto;
}

.landing-container ul li .content strong p {
    text-align: center;
    vertical-align: sub;
}

.landing-container .icon {
    margin-right: 10px;
    vertical-align: sub;
}

.landing-container .goto {
    text-align: right;
    margin-top: 10px;
}